<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0cb2ba51-b422-47ca-8cfb-67aaef950646/resourcegroups/LearningCenterPlatform20250617211509ResourceGroup/providers/Microsoft.Web/sites/LearningCenterPlatform20250617211509</ResourceId>
    <ResourceGroup>LearningCenterPlatform20250617211509ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/0cb2ba51-b422-47ca-8cfb-67aaef950646/resourceGroups/LearningCenterPlatform20250617211509ResourceGroup/providers/Microsoft.ApiManagement/service/LearningCenterPlatformapi/apis/LearningCenterPlatform</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://learningcenterplatform20250617211509-fje2ekaxerhzeuhu.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>7cabb9f8-57d1-42d1-b872-34d74e397bf7</ProjectGuid>
    <MSDeployServiceURL>learningcenterplatform20250617211509-fje2ekaxerhzeuhu.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LearningCenterPlatform20250617211509</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>